@import url('https://fonts.googleapis.com/css?family=Lato');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.countdown-wrapper {
    display:         flex;
    flex-wrap:       wrap;
    align-content:   center;
    justify-content: center;
}

.countdown-item {
    font-size:      44px;
    margin:         0 50px;
    display:        flex;
    flex-direction: column;
}

.countdown-item span {
    font-size: 24px;
}